.axui-contextmenu {
  position: absolute;
  background: $axui-contextmenu-bg-color;
  border: $axui-contextmenu-border;
  box-shadow: $axui-contextmenu-box-shadow;
  border-radius: $axui-contextmenu-border-radius;
  padding: $axui-contextmenu-padding-size 0;
  user-select: none;
  cursor: default;
  min-width: $axui-contextmenu-min-width;

  font-size: $axui-contextmenu-item-font-size;
  color: $axui-contextmenu-item-font-color;
  font-weight: $axui-contextmenu-item-font-weight;

  &[data-align="top-left"] {
    left: 0;
    top: 0;
  }

  &[data-align="top-right"] {
    right: 0;
    top: 0;
  }

  &[data-align="bottom-left"] {
    left: 0;
    bottom: 0;
  }

  &[data-align="bottom-right"] {
    right: 0;
    bottom: 0;
  }

  .icon-wrapper {
    margin-right: $axui-contextmenu-padding-size;
  }
}

.axui-contextmenu-item {
  padding: $axui-contextmenu-item-padding;
  line-height: $axui-contextmenu-line-height;
  white-space: nowrap;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;

  &:hover {
    background-color: $axui-contextmenu-item-hover-bg-color;
    color: $axui-contextmenu-item-hover-font-color;
  }
}

.axui-contextmenu-separator {
  height: $axui-contextmenu-separator-height;
  background-color: $axui-contextmenu-separator-color;
  padding: 0;
  margin: $axui-contextmenu-separator-margin;
}