/* This style designed like OSX */

$axui-contextmenu-bg-color: #f6f6f6;
$axui-contextmenu-border-width: 0.5px;
$axui-contextmenu-border-style: solid;
$axui-contextmenu-border-color: rgba(0, 0, 0, .2);
$axui-contextmenu-box-shadow: 0 3px 12px rgba(0, 0, 0, .3);
$axui-contextmenu-border-radius: 6px;
$axui-contextmenu-padding-size: 4px;
$axui-contextmenu-min-width: 130px;

/* contenxtmenu-item */
$axui-contextmenu-item-font-size: 14px;
$axui-contextmenu-item-font-color: #434343;
$axui-contextmenu-item-font-weight: 400;

$axui-contextmenu-item-padding: 3px 4px;
$axui-contextmenu-item-line-height: 14px;
$axui-contextmenu-item-checkbox-width: 14px;

/* item on hover */
$axui-contextmenu-item-hover-bg-color: #0057d9;
$axui-contextmenu-item-hover-font-color: #fff;


$axui-contextmenu-separator-height: 2px;
$axui-contextmenu-separator-color: #e5e5e5;
$axui-contextmenu-separator-margin: 5px 0;